@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form id="RegisterForm" onsubmit="return validate()" asp-controller="Home" asp-action="SignIn" method="post">
    <label asp-for="UserName"></label><br />
    <input asp-for="UserName" /><br />
    <label asp-for="Email"></label><br />
    <input asp-for="Email" type="email" /><br />
    <label asp-for="Age"></label><br />
    <input asp-for="Age" /><br />
    <label asp-for="Password"></label><br />
    <input asp-for="Password" type="password" /><br />
    <label asp-for="ConfirmPassword"></label><br />
    <input asp-for="ConfirmPassword" type="password" /><br />
    <button type="submit">Post</button>
</form>

<script>
    function convertFormDataToModel(form) {

        var o = {};
        var a = form.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
    function validate() {
        var model = convertFormDataToModel($("#RegisterForm"));
        if (!(@Html.Raw(ViewBag.Condition))) {
            alert("Model isn't valid.");
        }
        return @Html.Raw(ViewBag.Condition);
    };
    //# sourceURL=myscript.js
</script>

