@model IEnumerable<Entity>


<h1 class="display-4">Handlers</h1>
@foreach (var handler in Model.Where(m => m.Type == EntityType.Handler))
{
    <p>Handler Id: @handler.Guid</p>
    <p>Duration: @(double.IsNaN(handler.Duration) ? "--" : handler.Duration.ToString())</p>
    <p>------------------------------------------</p>
}
<p>------------------------------------------</p>
@foreach (var generator in Model.Where(m => m.Type == EntityType.Generator))
{
    <p>Generator Id: @generator.Guid</p>
    <p>Duration: @(double.IsNaN(generator.Duration) ? "--" : generator.Duration.ToString())</p>
    <p>------------------------------------------</p>
}